.atitulospantallas{
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    align-items: center;
    justify-content: space-between;
    margin-right: 10px;
    margin-left: 10px;
    text-align: center;

    border-bottom: 1px solid #242424;
}

.atitulospantallas h2{
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}

.atitulospantallas p{
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}

@media(min-width: 540px){
    .atitulospantallas{
        margin-right: 20px;
        margin-left: 20px;

        border-bottom: 1px solid #242424;
    }
}

@media(min-width: 720px){
    .atitulospantallas{
        margin-right: 25px;
        margin-left: 25px;

        border-bottom: 1px solid #242424;
    }
}

@media(min-width: 1024px){
    .atitulospantallas{
        margin-right: 27px;
        margin-left: 27px;

        border-bottom: 1px solid #242424;
    }
}