.apanel-fondo{
    position: fixed !important;
    z-index: 999 !important;
    top: 0 !important;
    left: 0 !important;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.apanel{
    position: fixed !important;
    display: flex;
    flex-direction: column;
    background: #fff;

    -webkit-box-shadow: -3px 2px 39px 5px rgba(0,0,0,0.62); 
    box-shadow: -3px 2px 39px 5px rgba(0,0,0,0.62);

    border-radius: 5px;
}

.apanel-titulo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom: 1px solid #4d4d4d5c;
    font-weight: bold;
}

.apanel-contenido{
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.apanel-no-visible{
    display: none !important;
}

/* Boton cerrar */
.apanel-btn-cerrar{
    display: flex;
    position: relative;
    top: -21px;
    right: -10px;
    background-color: red;
    cursor: pointer;
    color: white;
    width: 30px;
    height: 30px;
    border-top-right-radius: 5px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.apanel-btn-cerrar:active{
    transform: scale(1.02);
}