.aboton{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    cursor: pointer;
    border-radius: 8px;
    border: none;
    font-weight: bold;

    transition: all 0.2s ease-in-out;
}

.aboton-inhabilitado{
    background-color: #ccc !important;
    color: #fff !important;
    cursor: not-allowed;
}

.aboton-primario{
    background-color: #1952F6;
    color: white;
}

.aboton-primario:hover, .aboton-primario:focus{
    background-color: #283593;
    color: white;
    outline-color: #1952F6;
}

.aboton-primario:active{
    background-color: #1582a7;
    color: white;
    transform: translateY(1px);
}

.aboton-secundario{
    background-color: #1F94AF;
    color: white;
    transition: all 0.2s ease-in-out;
}

.aboton-secundario:hover, .aboton-secundario:focus{
    background-color: #125868;
    color: white;
    outline-color: #1F94AF;
}

.aboton-secundario:active{
    background-color: #197488;
    color: white;
    transform: translateY(1px);
}

.aboton-ok{
    background-color: #00BB2D;
    color: white;
    transition: all 0.2s ease-in-out;
}

.aboton-ok:hover, .aboton-ok:focus{
    background-color: #00aa28;
    color: white;
    outline-color: #00BB2D;
}

.aboton-ok:active{
    background-color: #00991D;
    color: white;
    transform: translateY(1px);
}

.aboton-peligro{
    background-color: #DC3545;
    color: white;
    transition: all 0.2s ease-in-out;
}

.aboton-peligro:hover, .aboton-peligro:focus{
    background-color: #b32a38;
    color: white;
    outline-color: #DC3545;
}

.aboton-peligro:active{
    background-color: #911c28;
    color: white;
    transform: translateY(1px);
}

.aboton-link{
    background-color: rgba(0, 0, 0, 0);
    color: #05a8df;
}

.aboton-link:hover, .aboton-link:focus{
    background-color: #E0F3FF;
    outline-color: #029CFD;
}

.aboton-link:active{
    background-color: rgba(0, 0, 0, 0);
    color: #0d6c8b;
    transform: translateY(1px);
}