.acajatexto{
    position: relative;
    display: flex;
    flex-direction: column;
}

.acajatexto-titulo{
    position: relative;
    margin-bottom: 5px;
}

.acajatexto-icono-izquierda{
    height: 1.5rem;
    width: 1.5rem;
    padding: 4px;
    position: absolute;
    box-sizing:border-box;
    top:50%;
    left:4px;
    transform: translateY(-60%);
}

.acajatexto-icono-derecha{
    height: 1.5rem;
    width: 1.5rem;
    padding: 4px;
    position: absolute;
    box-sizing:border-box;
    top:50%;
    right:10px;
    transform: translateY(-60%);
}

.acajatexto-input{
    border: 1px solid #373737;
    border-radius: 10px;
    outline: none;

    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;

    transition: 0.5s;
}

.acajatexto-icono-izquierda-visible{
    padding-left: 2rem;
}

.acajatexto-icono-derecha-visible{
    padding-right: 2rem;
}

.acajatexto-input:focus{
    border: 1px solid #159fab;
    outline: auto;
    outline-color: #159fab;
}

.acajatexto-input:invalid{
    border: 1px solid red;
}

.acajatexto-input:disabled{
    background-color: #E6E6E6;
    color: #979595;
}

.acajatexto-contenedor-pie{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.acajatexto-max-caracteres{
    position: relative;
    font-size: 0.8rem;
    color: #3c3c3c;
}

.acajatexto-error{
    position: relative;
    font-size: 0.8rem;
    color: red;
}

.acajatexto-conerror{
    border: 1px solid red;
}