.atabladinamica {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    width: 100%;
    height: 100%;
    margin-bottom: 1em;
}

.atabladinamica-tabla {
    border-collapse: collapse;
    width: 100%;
    height: 100%;
}

.atabladinamica-contenedor-tabla{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: min-content;
    max-height: 400px;
    overflow: auto;
}

.atabladinamica-titulo {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    padding: 10px;
}

/* Filtros y opciones */
.atabladinamica-operaciones {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: calc(100% - 20px);
}

.atabladinamica-txtfiltro {
    width: 60%;
    max-width: 50%;
}

/* Encabezados de la tabla */
.atabladinamica-encabezados {
    height: fit-content;
    border-bottom: 2px solid black;
}

.atabladinamica-btn-ordenamiento {
    background-color: inherit;
    color: black;
    width: 100%;
    justify-content: space-between;
}


/* Datos de la tabla */
.atabladinamica-datos-filas {
    border-bottom: 1px solid #ccc;
    width: 100%;
}

/* Pie tabla */
.atabladinamica-pie{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.atabladinamica-filas-contador-contenedor{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.atabladinamica-datos{
    height: 50px;
    overflow-y: auto;
}